# data dirs
data/**/*.csv
data/**/*.csv.gz
data/**/*.jsonl
data/**/*.zip
data/preprocessed/x5-uplift*/
artifacts/
**/volume/
repos/

# IDE dirs and files
.idea/
**/.ipynb_checkpoints/
**/__pycache__
**/*.swp
